@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "نسيان كلمة السر";
}
<br />
<br />
<br />
<br />
<br />
<br />
<h1 style="font-family:Cairo ; direction:rtl">@ViewData["Title"]</h1>
<p  style="font-family:Cairo ; justify-content:center ; align-items:center">
	الرجاء النقر على الرابط المرسل إلى بريدك الإلكتروني لتأكيد إعادة تعيين كلمة السر الخاصة بك.
</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
